
.Rproj.user/2054ACE4/sdb/prop/B1098D5E

.Rproj.user/2054ACE4/sdb/prop/7CDF8A20

antonioSkiltonTools.Rproj

.Rproj.user/2054ACE4/sdb/prop/BA125B5F

.Rproj.user/2054ACE4/sdb/prop/88BAE8CD

.Rproj.user/2054ACE4/sdb/prop/B79BD280

.Rproj.user/2054ACE4/sdb/prop/76C3265C

.Rproj.user/2054ACE4/saved_source_markers

.Rproj.user/2054ACE4/cpp-definition-cache

*.pper

.Rproj.user/2054ACE4/persistent-state

.Rproj.user/2054ACE4/sdb/prop/1436A94C

.Rproj.user/2054ACE4/sdb/prop/INDEX

.Rproj.user/2054ACE4/sdb/prop/C3D4148D

.Rhistory

man/.Rapp.history
